
{% extends "base.html" %}
{% load static %}


{% block titre %}Accueil {% endblock titre %}
{% block form %}
<!-- Sidebar/menu -->

  <div class="w3-bar-block">
    <h3  onclick="w3_close()" class="w3-bar-item w3-text-blue" >Hyndra deplacement, Bienvenue !</h3> <hr>
    <a href="{% url 'road:recherche' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Rechercher un lieu</a> <hr>
    <a href="{% url 'road:itineraire' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Cherchez votre chemin </a> <hr>
    <a href="{% url 'road:recherche_taxi' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Ou alors trouver un taxi pres de chez </a> <hr>
    <a href="" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Commander un taxi </a> <hr>
    <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Reserver un date pour unr date ?</a> <hr>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a> <hr>
  </div>


{% endblock form %}



{% block carte %}

{{ carte|safe }} 

{% endblock carte %}


{% block navigator_location %}

  <script>
    $(document).ready(function() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
              var lat = position.coords.latitude;
              var lon = position.coords.longitude;
              console.log(position);
              console.log("longitude: "+ lon+ "latitude: "+ lat+"\n");
              var csrfToken = document.querySelector("#monDiv input[name='csrfmiddlewaretoken']").value;

              console.log(csrfToken);
              // Envoyer les coordonnées au serveur Django via AJAX
              $.ajax({
                  url: 'reload',
                  method: 'POST',
                  
                  data: {
                      latitude: lat,
                      longitude: lon,
                      csrfmiddlewaretoken:csrfToken
                  },
                  success: function(response) {
                      // Gestion de la réponse en cas de succès
                      var divElement = document.querySelector('.map-container');
                      divElement.innerHTML = response.map
                      console.log(response);
                 
                    },
                  error: function(xhr, errmsg, err) {
                      // Gestion de l'erreur en cas d'échec de la requête AJAX
                      console.log(errmsg);
                  }
              });
          });
      } else {
          // Gestion de l'erreur si la géolocalisation n'est pas prise en charge.
          console.log("La géolocalisation n'est pas prise en charge.");
      }
  });
  </script>

{% endblock navigator_location %}